<div class="itinerary container">
  <div class="panel panel-default event-details">
    <div class="panel-body">
      <h1>New Date Itinerary</h1>
      <div class="itinerary-events-list">
        <% @itinerary.events.each do |event| %>
          <div class="event-time col-md-12">
            <h3><%= time_tag(event.formatted_time(event.time)) %></h3>
          </div>
          <div class="event-title col-md-12">
            <h4><%= link_to "#{event.title}", event.url %></h4>
          </div>
          <div class="event-description col-md-12">
            <%= event.description %>
          </div>
          <div class="event-place col-md-12">
            <%= event.place %>
          </div>
          <div class="event-address col-md-12">
            <%= event.address %>
          </div>
          <div class="event-city-state-zip col-md-12">
            <%= "#{event.city}, #{event.state} #{event.postal_code}" %>
          </div>
          <div class="remove-event-btn" col-md-12>
            <%= link_to "Remove Event", planners_path(event_id: event.id), method: :delete, class: "btn btn-link" %>
          </div>
        <% end %><hr>
      </div>
      <div class="continue">
        <%= link_to "Continue", new_itinerary_path(anchor: "add-title-and-description"), class: "btn btn-default", id: "continue-button" %>
      </div><hr>
      <div class= "hidden" id="add-title-and-description">
        <%= form_for Itinerary.new do |f| %>
          <%= f.label "Title:" %>
          <%= f.text_field :title%><br>
          <%= f.label "Description:" %>
          <%= f.text_field :description %><br>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.submit "Save Itinerary", class: "btn btn-default" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
