<div class="event-list">
  <% @itinerary.event_objects.each do |event| %>
    <p>
      <div class="event_title col-md-8">
        <%= event.title %>
      </div>
      <div class="event-description col-md-8">
        <%= event.description %>
      </div>
      <div class="event-time col-md-8">
        <%= event.time %>
      </div>
      <div class="event-address col-md-8">
        <%= event.address %>
      </div>
      <div class="event-city col-md-8">
        <%= event.city %>, <%= event.state %> <%= event.postal_code %>
      </div>
    </p>
  <% end %>
</div><hr>
