<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=La+Belle+Aurore" />
<div class="site-wrapper col-lg-12">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <h1>Date Night</h1>
    </div>

  <div class="events-list container">
    <div class="panel panel-default upcoming-dates">
      <div class="panel-body">
        <h3>Explore All The Happenings...</h3>
        <% @events.each do |event| %>
          <div class="event-info container">
            <div class="event-image col-md-12">
              <%= image_tag("event-image.jpg", class: "event-image") %>
            </div>
            <div class="event-title col-md-12">
              <%= link_to "#{event.title}", event.url %>
            </div><br>
            <div class="event-description col-md-12">
              <%= event.description %>
            </div>
            <div class="event-address col-md-12">
              <%= event.address %>
            </div>
            <div class="event-city-state col-md-12">
              <%= event.city %> , <%= event.state %>  <%= event.postal_code %>
            </div>
            <div class="event-time col-md-12">
              <%= event.time %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
