<% @events.each do |event| %>
  <div class="event-info container col-sm-12">
    <div class="event-image col-md-7">
      <% if event.image.present? %>
        <%= image_tag(event.image["medium"]["url"]) %>
      <% else %>
        <%= image_tag("event-image.jpg", class: "event-image") %>
      <% end %>
    </div>
    <div class="event-title col-md-8">
      <h4><%= link_to "#{event.title}", event_path(event.id) %></h4>
    </div><br>
    <div class="event-description col-md-8">
      <%= event.description %>
    </div>
    <div class="venue-name col-md-8">
      <%= event.venue_name %>
    </div>
    <div class="event-address col-md-8">
      <%= event.venue_address %>
    </div>
    <div class="event-city-state col-md-8">
      <%= event.city_name %> , <%= event.region_abbr %>  <%= event.postal_code %>
    </div>
    <div class="event-time col-md-8">
      <%= event.start_time %>
    </div>
  </div><br><hr>
<% end %>
