<div class="event-description col-md-12">
  <%= @event.description %>
</div>
<div class="event-time col-md-12">
  <%= @event.start_time %>
</div>
<div class="event-place col-md-12">
  <%= @event.venue_name %>
</div>
<div class="event-address col-md-12">
  <%= @event.venue_address %>
</div>
<div class="event-city-state-zip col-md-12">
  <%= @event.city %>, <%= @event.region_abbr %> <%= @event.postal_code %>
</div>
