<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Just+Another+Hand" />
<div class="navbar-wrapper">
  <div class="container">
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapsed" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "DateNight", root_path, class:"navbar-brand" %>
        </div>
        <div id="navbar" class="collapse navbar-collapse ">
          <ul class="nav navbar-nav">
            <li>
              <%= link_to "Explore Events", events_path %>
            </li>
            <% if current_user %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                  <%= current_user.name %>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  <li><%= link_to "My Profile", user_path(current_user.id) %></li>
                  <li><%= link_to " DatePlanner", new_itinerary_path, class: "fa fa-heart-o" %></li>
                  <li><%= link_to "About", about_path %></li>
                  <li><%= link_to "Contact Us", contact_path %></li>
                  <li><%= link_to "Log Out", logout_path %></li>
                </ul>
              </li>
              <li>
                <div class="date-planner-btn">
                  <%= link_to " DatePlanner", new_itinerary_path, class: "fa fa-heart-o" %>
                  <span class="date-planner-count">
                    <%= @planner.count(@planner.data) %>
                  </span>
                </div>
              </li>
            <% else %>
              <li>
                <%= link_to "About", about_path %>
              </li>
              <li>
                <%= link_to "Contact Us", contact_path %>
              </li>
              <li>
                <%= link_to "Log In", "/auth/google_oauth2/" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
