<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Just+Another+Hand" />
<div class="navbar-wrapper">
  <div class="container">
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapsed" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "DateNight", root_path, class:"navbar-brand" %>
        </div>
        <div id="navbar" class="collapse navbar-collapse ">
          <ul class="nav navbar-nav">
            <li>
              <div class="search">
                <%= form_tag(events_path, :method => "get", class: "navbar-form", id: "search_form") do %>
                    <%= text_field_tag :search, params[:search], class: "span2", placeholder: "Search By City" %>
                    <button class="btn btn-link" name="search-button" type= "submit">
                      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                <% end %>
              </div>
            </li>
            <li>
              <%= link_to "Home", events_path %>
            </li>
            <% if current_user %>
              <!-- <li>
                <%= link_to "Log Out", logout_path %>
              </li> -->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                  <%= current_user.name %>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  <li><%= link_to "My Profile", user_path(current_user.id) %></li>
                  <li><%= link_to "DatePlanner", new_itinerary_path, class: "glyphicon glyphicon-heart-empty" %></li>
                  <li><%= link_to "About", about_path %></li>
                  <li><%= link_to "Contact Us", contact_path %></li>
                  <li><%= link_to "Log Out", logout_path %></li>
                </ul>
              </li>
              <li>
                <div class="date-planner-btn">
                  <%= link_to "DatePlanner", new_itinerary_path, class: "glyphicon glyphicon-heart-empty" %>
                </div>
              </li>
            <% else %>
              <li>
                <%= link_to "About", about_path %>
              </li>
              <li>
                <%= link_to "Contact Us", contact_path %>
              </li>
              <li>
                <%= link_to "Log In", "/auth/google_oauth2/" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
